.article-grid-container {
    border-top: 1px solid #999999;
}
.card {
    position: relative;
    margin: 10px auto;
    border: 0;
    overflow: hidden;
 }
.card__body__footer {
    font-size: 0.8em;
    opacity: 0.9;
    margin: 2px 0 -10px -5px;
    color: #999999;
}
.card__body__footer--comment-icon, .card__body__footer--like-arrow{
    width: 25px;
    height: 25px;
    margin: 5px;
    cursor: pointer;
}
.card__body_category {
    font-size: 0.7em;
    color: #2ec4b6;
    margin-bottom: 0.5rem;
}
.card__body_category:hover {
    text-decoration: none;
}
.card__body_title {
    font-family: 'Avenir Next Condensed';
    margin-bottom: 1rem;
    min-height: 5rem;
    color: #4A4A4A;
    transition: color .25s ease;
    display: block;
}
.card__body_title:hover {
    color: #2ec4b6;
    text-decoration: none;
}
.card__body_author {
    font-size: 0.8em;
    color: #999999;
    min-height: 2rem;
}
.card__body_text {
    font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
    font-size: 0.875rem;
}
.card__image {
    min-height: 170px;
    max-height: 200px;
    height: 100%;
    width: auto;
}
.card__image_icons {
    position: absolute;
    top: 10px;
    font-size: 1.6em;
    color: #2ec4b6;
}
.card__image_icons--icon  {
    position: relative;
    left: 230px;
    border: 1px solid #2ec4b6;
    padding: 5px;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
}
.card__image_icons--icon-plus {
    color: #fff;
    background-color: #2ec4b6;
}
.card__image_icons--icon-heart, .card__image_icons--icon-letter {
    background-color: rgba(255, 255, 255, 0.5);
}
.loading {
    font-size: 2em;
}
