.article-grid-container {
    border-top: 1px solid #999999;
}
.card {
    position: relative;
    margin: 15px;
    width: 100%;
    border: 0;
    overflow: hidden;
 }
.card__body__footer {
    font-size: 0.8em;
    opacity: 0.9;
    margin: 2px 0 -10px -5px;
    color: #999999;
}
.card__body__footer--comment-icon, .card__body__footer--like-arrow{
    width: 25px;
    height: 25px;
    margin: 5px;
    cursor: pointer;
}
.card__body_category {
    font-size: 0.7em;
    color: #2ec4b6;
    margin-bottom: 0.5rem;
}
.card__body_category:hover {
    text-decoration: none;
}
.card__body_title {
    font-family: 'Avenir Next Condensed';
    margin-bottom: 1rem;
    min-height: 5rem;
    color: #4A4A4A;
    transition: color .25s ease;
    display: block;
}
.card__body_title:hover {
    color: #2ec4b6;
    text-decoration: none;
}
.card__body_author {
    font-size: 0.8em;
    color: #999999;
    min-height: 2rem;
}
.card__body_text {
    font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
    font-size: 0.875rem;
}
.card__image {
    height: 170px;
    object-fit: cover;
    object-position: 0 100%;
    transition: all .3s ease-in-out;

}
.card__image_link:hover .card__image {
    transform: scale(1.1);
}
.card__image_icons {
    position: absolute;
    top: 10px;
    left: 90%;
    font-size: 1.6em;
    color: #2ec4b6;
}
.card__image_icons--icon  {
    position: relative;
    border: 1px solid #2ec4b6;
    padding: 5px;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
}
.card__image_icons--icon-plus {
    color: #fff;
    background-color: #2ec4b6;
}
.card__image_icons--icon-heart, .card__image_icons--icon-letter {
    background-color: rgba(255, 255, 255, 0.5);
}

.card__body_source {
  font-size: 0.9rem;
  margin: 0.4rem 0rem;
}

.loading {
    font-size: 2em;
}

@media screen and (max-width: 425px) {
  .card__image {
    height: 170px;
  }
}

@media screen and (min-width: 768px) {
    .card {
        max-width: 45%;
    }
}
@media screen and (min-width: 1024px) {
    .card {
        max-width: 30%;
    }
}
@media screen and (min-width: 1200px) {
    .card {
        max-width: 265px;
        margin: 15px 10px;
    }
}
