.share-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.share-buttons * {
  margin: 4px;
}

.share-buttons *:hover {
  cursor: pointer;
}

.share-buttons *:focus {
  outline: none;
}
