.menu-bar {
  flex-direction: row;
  justify-content: center;
}

#basic-navbar-nav a {
  color: #999999;
  padding: 0.2rem 1rem;
}

#basic-navbar-nav .active, #basic-navbar-nav a:hover {
  color: #2ec4b6;
  font-weight: 600;
  text-decoration: none;
}

#top-bar {
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 0 #dddddd;
}

.form-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-search, .logo {
  width: 250px;
}

#search-input:focus {
  border-color: rgb(195, 195, 195);
  box-shadow: 0 0 0 0.1rem rgb(195, 195, 195);
}

.logo {
  height: 56px;
  display: flex;
  align-items: center;
}

.toggle-top:focus {
  outline: none;
}

@media only screen and (max-width: 991px) {
  .form-search {
    margin: auto;
    padding-bottom: 1rem;
  }
  .menu-bar {
    padding: 1rem;
  }
  .logo {
    width: 56px;
  }
}
