.menu-bar {
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

#basic-navbar-nav button {
  color: #999999;
}

#basic-navbar-nav button:focus, #basic-navbar-nav button:hover {
  color: #2ec4b6;
  font-weight: 600;
  text-decoration: none;
}

#top-bar {
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 0 #dddddd;
}

.form-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-search button {
}

.form-search, .logo {
  width: 200px;
}

#search-input:focus {
  border-color: rgb(195, 195, 195);
  box-shadow: 0 0 0 0.1rem rgb(195, 195, 195);
}

.logo {
  height: 56px;
  display: flex;
  align-items: center;
}

.toggle-top:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .form-search {
    margin: auto;
    padding-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  #basic-navbar-nav {
    min-height: 72px;
  }
}
