.jumbotron {
  position: relative;
  min-height: 300px;
  background: url('../../img/default-image-large.jpg') center no-repeat #4a4a4a;
  background-size: cover;
}
  .jumbotron a {
    position: absolute;
    z-index: 30;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

  }
  .post {
    position: absolute;
    z-index: 50;
    bottom: 30px;
    left: 30px;
    font-family: 'Avenir Next';
    font-size: 0.75rem;
    color: #FFFFFF;
  }
  .post__title {
    font-family: 'Merriweather', sans-serif;
    font-size: 2rem;
    line-height: 1.14;
    letter-spacing: 0.4px;
  }
  .post .btn-link {
    color: #FFFFFF;
    font-size: 0.75rem;
  }

  .overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4a4a4a;
    opacity: 0.6;
    border-radius: 4px;
  }

#icon_large {
  z-index: 100;
  font-size: 2.5rem;
  left: 95%;
}

@media screen and (max-width: 992px) {
  #icon_large {
    left: 93%;
  }
  .post__title {
    max-width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .post__title {
    font-size: 2rem;
  }
  #icon_large {
    left: 88%;
  }
}

@media screen and (max-width: 425px) {
  .post__title {
    font-size: 1.3rem;
  }
}
